@media screen and (max-width: 750px) {
    .cards {
      justify-content: space-evenly;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: auto;
      /* max-width: 1700px; */
      margin: 0;
    }

    .nav input[type=text] {
      display: none;
    }

    .nav span {
      display: none;
    }

    .main-footer {
      font-size: xx-small;
    }

    .copyright {
      justify-content: left;
    }

    /* .nav a {
      float: none;
      display: block;
    } */
  }